/* Mobile-first: Standard for mobil og tablet */
.hero {
    position: relative;
    background-image: url('/img/hero.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem; 
  }
  
  .overlay {
    padding: 0.75rem;
    border-radius: 10px;
    color: inherit;
  }
  
  /* Tekststiler for mobil */
  .overlay h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .overlay p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  /* Media Query for større skjermer (desktop) */
  @media (min-width: 1024px) {
    .hero {
       
      height: 77vh;
      padding: 2rem;
    }
    
    .overlay {
      padding: 1rem;
    }
    
    .overlay h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    
    .overlay p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  