.pageWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  max-width: 1000px;
  margin: 100px auto 80px;
  padding: 0 20px;
}

.sectionLast {
  max-width: 1000px;
  /* margin: 140px auto 120px; ekstra luft nederst */
  padding: 0 20px;
}

.sectionTight {
  max-width: 1000px;
  margin: 40px auto 80px;
  padding: 0 20px;
}

.sectionPushDown {
  margin-top: 180px;
  margin-bottom: 5px;
}

.introHeading {
  font-size: 2rem;
  color: #333;
  max-width: 1000px;
  margin: 0 auto 30px; /* Auto-margin for å sentrere containeren */
  padding: 0 20px;
  text-align: left; /* Teksten forblir venstrejustert */
}

.introText {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
  max-width: 1000px;
  margin: 0 auto 40px;
  padding: 0 20px;
  text-align: left;
}

.subHeading {
  font-size: 1.8rem;
  color: #333;
  max-width: 1000px;
  margin: 0 auto 40px;
  padding: 0 20px;
  text-align: left;
}

.responsiveImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto 36px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.introButton {
  display: flex;
  justify-content: center; /* Justerer knappen midtstilt */
  margin: 24px auto 0;
}

.styledButton {
  text-transform: none;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #1d1d1d;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: none;
}

.styledButton:hover {
  background-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

.cardStack {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 40px auto 0;
}
